@import 'src/app/shared/styles/font';
@import 'src/app/shared/styles/colors';
@import 'src/app/shared/styles/variables';

.settings-form-wrapper {
  margin: 0 auto;
  width: 600px;

  @media (max-width: $small) {
    width: 100%;
  }
}

.settings-item-wrapper {
  margin-top: 24px;
}

.settings-subtitle {
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $dark-grey;
  margin: 0;
}

.checkbox {
  & + .checkbox {
    margin-left: 16px;
  }
}

.form-item {
  display: block;
  width: 600px;

  @media (max-width: $small) {
    width: 100%;
  }
}

.button-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  text-transform: uppercase;
}
