<div class="password-form-wrapper">
  <h3>Password</h3>

  <mat-form-field appearance="outline" class="form-item">
    <input matInput placeholder="Current password">
    <mat-hint class="form-hint">Forgot Password?</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-item">
    <input matInput placeholder="New password">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-item">
    <input matInput placeholder="Verify password">
  </mat-form-field>

  <div class="button-wrapper">
    <button mat-stroked-button color="primary" class="reset-button">Reset</button>
    <button mat-flat-button color="success">Save Password</button>
  </div>
</div>

