@import 'src/app/shared/styles/font';
@import 'src/app/shared/styles/colors';

.date-menu {
  border: none;
  width: auto;
  padding: 8px 0 8px 4px;
}

.date-option {
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $dark-grey;
}
