@mixin mat-table() {
  .mat-table {
    background: transparent;

    tr {
      &:hover {
        background-color: $black-04;
      }

      &:last-child {
        & td {
          border: none;
        }
      }
    }
  }
}

@mixin mat-table-dark() {
  .mat-table {
    background: transparent;

    th {
      color: #D6D6D6;

      &.mat-header-cell {
        border-color: $white-70;
      }
    }

    td {
      color: $white;

      &.mat-cell {
        border-color: $white-70;
      }
    }
  }
}
