@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/colors';

@mixin mat-expansion-panel {
  mat-expansion-panel.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: $card-shadow;
  }

  .mat-expansion-indicator::after {
    color: $white;
  }
}

@mixin mat-expansion-panel-dark {
  mat-expansion-panel.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-expansion-indicator::after {
    color: $white;
  }
}
