@import "colors";

@mixin mat-form-field {
  .add-section-menu {

    & .mat-form-field-label {
      color: $white;
    }

    & .mat-form-field-underline {
      background-color: $white;
    }
  }
}

@mixin mat-form-field-dark-theme {
  & .mat-hint, .mat-form-field-appearance-legacy .mat-hint {
    color: $white-70;
  }

  & .mat-form-field-appearance-legacy .mat-form-field-underline, .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-color: $white-70;
  }

  & .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: $white-70;
  }

  & .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $white;
  }
}
