@import "colors";
@import "variables";

//@mixin mat-tab-dark() {
//  .mat-tab-label {
//    color: $white;
//  }
//}

@mixin mat-tab-color-label($color) {
  .nav-items-group {
    .mat-tab-label {
      color: $color;
    }
  }
}

@mixin mat-tab-label-active-color($color) {
  .icons-wrapper, .tabs-content-wrapper {
    & .mat-tab-label-active {
      & .tab-label, .mat-icon {
        color: $color;
      }
    }
  }
}

@mixin mat-tab-without-border() {
  .dashboard-mat-tab, .nav-items-group {
    .mat-tab-header {
      border: none;
    }
  }
}

@mixin mat-tab-label {
  div.mat-tab-label {
    padding: 0;
    min-width: 85px;
    color: $dark-grey;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      min-width: 75px;
    }
  }

  .dashboard-mat-tab {
    div.mat-tab-label {
      @media (max-width: $small) {
        min-width: 25%;
      }
    }
  }

  .edit-nav-card {
    div.mat-tab-label {
      padding: 0;
      min-width: 85px;
      font-weight: $fw-lighter;

      @media (max-width: $small) {
        min-width: 55px;
      }
    }
  }
}

@mixin mat-tab-label-dark {
  div.mat-tab-label {
    padding: 0;
    min-width: 85px;
    color: $white;
    font-weight: $fw-lighter;
  }
}
