<mat-card class="user-card">
  <mat-card-content class="user-card-content">
    <div class="user-avatar">
      <div class="avatar-wrapper">
        <img class="avatar-img" src="{{user.photoURL}}" alt="avatar">
      </div>
      <mat-chip-list class="avatar-badge-wrapper">
        <mat-chip color="info" selected class="avatar-badge">Cicuito #X</mat-chip>
      </mat-chip-list>
    </div>

    <div class="user-info-wrapper">
      <mat-card-title class="user-name">{{user.lastName}} {{user.firstName}}</mat-card-title>

      <p class="user-position">{{user.email}}</p>
      <a href="#" class="user-site">spep-admin.dev</a>

      <div class="user-skills-wrapper">
        <mat-chip-list>
          <!-- <mat-chip selected class="user-skill blue">UI/UX</mat-chip>
          <mat-chip selected class="user-skill yellow">Art</mat-chip>
          <mat-chip selected class="user-skill pink">Design</mat-chip>
          <mat-chip selected class="user-skill yellow">Illustration</mat-chip>
          <mat-chip selected class="user-skill green">Mobile</mat-chip> -->
        </mat-chip-list>
      </div>

      <!-- <div class="icons-wrapper">
        <img class="icon" src="./assets/user/profile/facebook-logo.svg">
        <img class="icon" src="./assets/user/profile/medium-logo.svg">
        <img class="icon" src="./assets/user/profile/basket.svg">
        <img class="icon" src="./assets/user/profile/Be.svg">
        <img class="icon" src="./assets/user/profile/insta-logo.svg">
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
