<div class="user-wrapper">
  <img src="{{user.photoURL}}" class="user-icon" [matMenuTriggerFor]="userMenu">

  <mat-menu #userMenu="matMenu" xPosition="before">
    <div class="user-menu-title">
      <h4 class="user-menu-title__name">{{user.displayName}}</h4>
      <a class="user-menu-title__link" [href]="flatlogicEmail">Flatlogic.com</a>
    </div>
    <button mat-menu-item class="user-menu__item-title" [routerLink]="routes.PROFILE">
      <mat-icon class="user-menu-icon">account_circle</mat-icon>Profile
    </button>
    <button mat-menu-item class="user-menu__item-title">
      <mat-icon class="user-menu-icon">description</mat-icon>Tareas
    </button>
    <button mat-menu-item class="user-menu__item-title">
      <mat-icon class="user-menu-icon">email</mat-icon>Mensajes
    </button>
    <div class="sign-button-wrapper">
      <button class="sign-button" mat-flat-button (click)="signOutEmit()">Salir</button>
    </div>
  </mat-menu>

  <p class="greeting-text"><span class="user-name">{{user.lastName}}, {{user.firstName}}</span></p>
</div>
