<mat-card class="user-tasks-card">
  <mat-card-title class="user-tasks-title-wrapper">
    <p class="user-tasks-title">Tasks</p>
    <app-date-menu></app-date-menu>
  </mat-card-title>

  <mat-card-content>
    <mat-tab-group color="warn" mat-align-tabs="start">
      <mat-tab label="Today">
        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">10.21</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">11.30</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">12.30</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call with PR Manager</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">14.00</p>
            <div class="task-circle blue"></div>
            <p class="task-text">Interview with a new UI/UX</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.45</p>
            <div class="task-circle green"></div>
            <p class="task-text">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">16.00</p>
            <div class="task-circle pink"></div>
            <p class="task-text">Sales Presentation</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">17.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>
      </mat-tab>

      <mat-tab label="This Week">
        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">10.21</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">11.30</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">12.30</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call with PR Manager</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">14.00</p>
            <div class="task-circle blue"></div>
            <p class="task-text">Interview with a new UI/UX</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.45</p>
            <div class="task-circle green"></div>
            <p class="task-text">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">16.00</p>
            <div class="task-circle pink"></div>
            <p class="task-text">Sales Presentation</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">17.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>
      </mat-tab>

      <mat-tab label="This Month">
        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">10.21</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time task-done">11.30</p>
            <div class="task-circle"></div>
            <p class="task-text task-done">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">12.30</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call with PR Manager</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">14.00</p>
            <div class="task-circle blue"></div>
            <p class="task-text">Interview with a new UI/UX</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference with a New Client</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">15.45</p>
            <div class="task-circle green"></div>
            <p class="task-text">Presentation Demo Ecological Project</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">16.00</p>
            <div class="task-circle pink"></div>
            <p class="task-text">Sales Presentation</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>

        <div class="task-wrapper">
          <div class="task-inner-wrapper">
            <p class="task-time">17.00</p>
            <div class="task-circle yellow"></div>
            <p class="task-text">Call conference</p>
          </div>
          <mat-icon class="task-settings">more_vert</mat-icon>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
