@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/font';

.card {
  padding: 0;

  @media (max-width: $small) {
    padding: 24px;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: $toolbar-padding;
  background: none;
  height: auto;

  @media (max-width: $small) {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
  }
}

.empty-block {
  width: 100%;
  height: 1px;
}

.title-inner-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $normal) {
    flex-wrap: wrap;
  }
}

.title-inner-wrapper + .title-inner-wrapper {
  @media (max-width: $small) {
    margin-top: 24px;
  }
}

.title-text {
  margin-right: 24px;
  margin-bottom: 0;
}

.dashboard-mat-tab {
  @media (max-width: $normal) {
    width: 100%;
    margin-top: 24px;
  }
}

.title-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;

  @media (min-width: $small) and (max-width: $normal) {
    width: 100%;
    justify-content: flex-start;
  }
}

.title-icon-data {
  margin-right: 16px;
}

.title-data-text {
  margin: 0;
  font-weight: $fw-lighter;
  font-size: $fs-normal;
}

.title-button {
  @media (max-width: $normal) {
    margin-top: 24px;
  }
}

.charts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (max-width: $normal) {
    flex-wrap: wrap;
  }
}

.chart {
  width: 23.5%;

  @media (max-width: $normal) {
    width: 48%;

    &:nth-last-child(2n) {
      margin-bottom: 24px;
    }
  }

  @media (max-width: $small) {
    width: 100%;
    margin-bottom: 24px;
  }
}
