@import "src/app/shared/styles/colors";
@import "src/app/shared/styles/font";

.breadcrumb-card {
  padding: 0;
}

.breadcrumb-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumb-list-item {
  cursor: pointer;
  width: auto;
  font-size: $fs-regular;
  color: $grey;
  outline: none;

  &.active {
    color: $blue;
    background: transparent;
  }
}

.text {
  margin-left: -32px;

  &:first-letter {
    text-transform: uppercase;
  }
}

.icon {
  display: flex;
  align-items: center;
  font-size: $fs-medium;
  padding: 0;
}
